#CABECERA {background-color: rgb(167, 211, 212);}
#PRINCIPAL{background-color: beige;}
.articulo{background-color: rgb(249, 252, 160);}
h2{color: darkkhaki;}
H1{color: brown;}
body {background-color: dimgray;}
